<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA716bspj0r4SgrdCPLPRr0bmXemJHfNpc</string>
	<key>GCM_SENDER_ID</key>
	<string>833243385657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.genysis.inc.Whatsappx</string>
	<key>PROJECT_ID</key>
	<string>whatsappx-b3547</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsappx-b3547.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833243385657:ios:fc1eee3c27d56d21ce22e8</string>
</dict>
</plist>